<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config-O-Matic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Gerador de Configuração FortiGate</h1>
    
    <div class="floating-box" id="generated-files">
        <button onclick="toggleFiles()">Arquivos gerados</button>
        <div id="files-content">
            <ul>
                {% for file in files %}
                    <li>
                        <span>{{ file }}</span> &nbsp <button onclick="openEditor('{{ file }}')">Editar</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
	
    <form action="/generate" method="post">
        <label for="fortigateSN">Numero de série do FortiGate: </label>
		<input type="text" id="fortigateSN" name="fortigateSN" pattern=".{16}" maxlength="16" title="Exactly 16 characters required" required><br><br>
		
		<label for="obra">Nome: </label>
		<input type="text" id="obra" name="obra" required><br><br>
		
		<label for="wanIP">IP interface wan (CIDR notation): </label>
        <input type="text" id="wanIP" name="wanIP" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/\d{1,2}" required><br><br>
        
		<label for="wanGW">Gateway interface wan: </label>
		<input type="text" id="wanGW" name="wanGW" required><br><br>
		
		<label for="vlan1IP">IP vlan 1 (CIDR notation): </label>
        <input type="text" id="vlan1IP" name="vlan1IP" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/\d{1,2}" required><br><br>
        
		<label for="wificorpVID">VID vlan corporativa: </label>
		<input type="number" id="wificorpVID" name="wificorpVID" min="1" max="4096" required><br><br>
		
		<label for="wificorpIP">IP vlan corporativa (CIDR notation): </label>
        <input type="text" id="wificorpIP" name="wificorpIP" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/\d{1,2}" required><br><br>
        
		<label for="wifiguestVID">VID vlan visitante: </label>
		<input type="number" id="wifiguestVID" name="wifiguestVID" min="1" max="4096" required><br><br>
		
		<label for="wifiguestIP">IP vlan visitante (CIDR notation): </label>
        <input type="text" id="wifiguestIP" name="wifiguestIP" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/\d{1,2}" required><br><br>
        
		<label for="devicesVID">VID vlan gerência: </label>
		<input type="number" id="devicesVID" name="devicesVID" min="1" max="4096" required><br><br>
		
		<label for="devicesIP">IP vlan gerência (CIDR notation): </label>
        <input type="text" id="devicesIP" name="devicesIP" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/\d{1,2}" required><br><br>
        
		<label for="wificeoVID">VID vlan presidência: </label>
		<input type="number" id="wificeoVID" name="wificeoVID" min="1" max="4096" required><br><br>
		
		<label for="wificeoIP">IP vlan presidência (CIDR notation): </label>
        <input type="text" id="wificeoIP" name="wificeoIP" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/\d{1,2}" required><br><br>
        
		<label for="looprbIP">IP loopback RB: </label>
		<input type="text" id="looprbIP" name="looprbIP" required><br><br>
		
		<label for="rbrootPWD">Senha rbroot: </label>
		<input type="password" id="rbrootPWD" name="rbrootPWD" required><br><br>
		
		<label for="ap01IP">IP AcessPoint01: </label>
		<input type="text" id="ap01IP" name="ap01IP" required><br><br>
		
		<label for="ap01MAC">MAC AcessPoint01: </label>
		<input type="text" id="ap01MAC" name="ap01MAC" required><br><br>
		
		<label for="ap02IP">IP AcessPoint02: </label>
		<input type="text" id="ap02IP" name="ap02IP" required><br><br>
		
		<label for="ap02MAC">MAC AcessPoint02: </label>
		<input type="text" id="ap02MAC" name="ap02MAC" required><br><br>
		
		<label for="analyzerIP">IP do FortiAnalyzer: </label>
		<input type="text" id="analyzerIP" name="analyzerIP" required><br><br>

        <button type="submit">Faz a mágica!</button>
    </form>


	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
